node_modules/
**/node_modules/
frontend/node_modules/
server/node_modules/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
**/.env*

frontend/.expo/
frontend/dist/
frontend/web-build/
frontend/expo-env.d.ts
.expo/
dist/

/frontend/ios
/frontend/android
ios/
android/

.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

.metro-health-check*
*.tsbuildinfo

.DS_Store

Thumbs.db

npm-debug.*
yarn-debug.*
yarn-error.*
*.log